# Dependencies
node_modules/

# Build output
frontend/dist/
frontend/dist-ssr/

# Environment files
backend/.env

# Logs
*.log
error.log

# Editor files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local

# Android build
frontend/android/.gradle/
frontend/android/app/build/

# OS files
Thumbs.db
